.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:rgb(70, 53, 168); */
    background-color: #003566;
    padding: 1rem 0.6rem 1rem 0.6rem;
}

.nav-title{
    display: flex;
    align-items: center;
    color: white;
}

.nav-title svg{
    margin-right: 0.5rem;
}

.nav-body{
    min-width: 140px;
}

