.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(70, 53, 168);
    padding: 1rem 0.6rem 1rem 0.6rem;
}

.nav-title{
    display: flex;
    align-items: center;
    color: white;
}

.nav-title svg{
    margin-right: 0.5rem;
}
.nav-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.614);
    color: white;
    border-radius: 12px;
    min-width: 200px;
    padding: 1rem 0 1rem 0;
}

.nav-cart svg{
    margin-right: 0.4rem;
}

.nav-item-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    min-width: 40px;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 12px;
}