.cart-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
}

.cart-item-main-info{
    display: flex;
    gap:15px;
}

.cart-item-actions{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-footer{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}